body, html {
    height: 100%;
}

body {
    background-color: rgb(30, 30, 31);
    color: white;
}

hr {
    background-color: white;
}

ul {
    padding: 0;
}

.column {
    border: 1px solid green;
    min-height: 50px;
}

.header-image {
    background-image: linear-gradient(rgb(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/header-orgrimmar.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5px outset rgb(165, 1, 1);
    height: 175px;
    position: relative;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.jumbotron {
    background-color: rgb(30, 30, 31);
    margin: 0 auto;
    height: 70%;
    width: 90%;
}

/* Navigation CSS */
.nav-card {
    border: 1px solid white;
    font-family: 'MedievalSharp', cursive;
    text-align: center;
}

.nav-header {
    border: none;
    padding: 5px 0px 0px;
}

.nav-body {
    padding: 5px;
}

.nav-links {
    background-color: rgb(127, 127, 129);
    color: white;
    font-size: 24px;
    height: 50px;
    margin-top: 5px;
    width: 100%;
}
